<div class= "wines-container">
  <div class= "head">スパークリングワイン</div>
  <div class= "winenavi">
    <div class="spark"><i class="fas fa-2x fa-wine-bottle"></i>  スパークリングワイン</div>
    <div class="white"><i class="fas fa-2x fa-wine-bottle"></i>  白ワイン</div>
    <div class="red"><i class="fas fa-2x fa-wine-bottle"></i>  赤ワイン</div>
    <div class="orange"><i class="fas fa-2x fa-wine-bottle"></i>  オレンジ</div>
    <div class="search"><i class="fas fa-search"></i></div>
  </div>
  <div class= "wine-container">
    <%# <div class= "wine">
      <div class="winenames">
        <div class="winename-kana">ドメーヌ タケダ ブラック・クイーン</div>
        <div class="winename">●Domaine Takeda Black Queen
            <!-- <div class="winarynames"> -->
        
        <div class="winaryname">(Takeda Winary)
          <div class="winaryname-kana">タケダワイナリー</div>
        </div>
            <!-- </div> -->
        </div>
      </div>
      <div class="winearea">
        <div class="winecountry">日本</div>
        <div class="winestate">山形</div>
      </div>
      <div class="winegrapes">Black Queen</div>
     
      <div class="comment">深い味わいのブラック・クイーン種ですが樹齢の高い樹が生み出すものは珍しく
        力強い香りと味わいそして成熟した奥行きの味わいを楽しめます。</div>
        <div class="wineprice">¥4440</div> 
    </div> %>
    <% @wines.each do |wine| %>
      <div class= "wine">
      <div class="winenames">
        <div class="winename-kana"><%= wine.name%></div>
        <div class="winename">●Domaine Takeda Black Queen
            <!-- <div class="winarynames"> -->
        
        <div class="winaryname">(Takeda Winary)
          <div class="winaryname-kana">タケダワイナリー</div>
        </div>
            <!-- </div> -->
        </div>
      </div>
      <div class="winearea">
        <div class="winecountry">日本</div>
        <div class="winestate">山形</div>
      </div>
      <div class="winegrapes">Black Queen</div>
     
      <div class="comment">深い味わいのブラック・クイーン種ですが樹齢の高い樹が生み出すものは珍しく
        力強い香りと味わいそして成熟した奥行きの味わいを楽しめます。</div>
        <div class="wineprice">¥4440</div> 
    <%# </div> %>
    <% end %>
    <div class= "wine"></div>
    <div class= "wine"></div>
    <div class= "wine"></div>
    <div class= "wine"></div>
    <div class= "wine"></div>
    <div class= "wine"></div>
    <div class= "wine"></div>
  </div>

</div>